.sky {
  --base-50: oklch(0.9842 0.0032 228.71);
  --base-100: oklch(0.9682 0.0064 229.74);
  --base-200: oklch(0.9213 0.0126 230.32);
  --base-300: oklch(0.869 0.019 231.62);
  --base-400: oklch(0.7047 0.0227 234.18);
  --base-500: oklch(0.554 0.0246 234.94);
  --base-600: oklch(0.4459 0.0239 235);
  --base-700: oklch(0.3723 0.0221 234.88);
  --base-800: oklch(0.2779 0.0189 236.17);
  --base-900: oklch(0.209 0.0176 237.67);
  --base-950: oklch(0.1311 0.0164 238.31);
  --base-1000: oklch(0.0807 0.0151 238.65);

  --primary-50: oklch(0.9785 0.0093 231.94);
  --primary-100: oklch(0.9521 0.0193 232.19);
  --primary-200: oklch(0.9035 0.041 230.66);
  --primary-300: oklch(0.815 0.0757 230.32);
  --primary-400: oklch(0.7527 0.1062 232.98);
  --primary-500: oklch(0.6898 0.1101 233.96);
  --primary-600: oklch(0.5915 0.1022 236.73);
  --primary-700: oklch(0.5033 0.0865 237.61);
  --primary-800: oklch(0.4444 0.0709 238.67);
  --primary-900: oklch(0.3924 0.0581 239.91);
  --primary-950: oklch(0.2947 0.0431 240.34);
  --primary-1000: oklch(0.231 0.033 241.68);

  --background: var(--base-50);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-300);
  --primary-foreground: var(--color-black);
  --secondary: var(--base-200);
  --secondary-foreground: var(--base-950);
  --muted: var(--base-100);
  --muted-foreground: var(--base-600);
  --accent: var(--base-100);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-300);
  --chart-1: var(--primary-300);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --radius: 1rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-300);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-50);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-300);
}
